<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.web>
    <compilation debug="true" targetFramework="4.0"></compilation>
  </system.web>
  
  <system.serviceModel>
    <services>
      <service behaviorConfiguration ="Mg" name="WcfMultipleEndpoints2.Service1">
        <endpoint address="basic" binding="basicHttpBinding" contract="WcfMultipleEndpoints2.IService1">
        </endpoint>
        <endpoint address="secure" binding="wsHttpBinding" contract="WcfMultipleEndpoints2.IService1">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Mg">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

</configuration>