<div class="dashboard-container">
  <div class="form-row mr-5">
    <div class="col-md-3 mx-auto">
      <p class="username-tag text-center">
        <strong>Hello, {{ userName }}</strong>
      </p>
    </div>
  </div>
  <ul class="list-group mr-4">
    <li class="list-group-item list-group-item-secondary">
      <p>
        COVID-19 can have serious, life-threatening complications, and there is
        no way to know how COVID-19 will affect you. And if you get sick, you
        could spread the disease to friends, family, and others around you.
      </p>
    </li>
  </ul>
  <ul class="list-group mt-3 mr-4">
    <li class="list-group-item list-group-item-secondary">
      <p>
        Getting COVID-19 may offer some natural protection, known as immunity.
        Current evidence suggests that reinfection with the virus that causes
        COVID-19 is uncommon in the 90 days after initial infection. However,
        experts don’t know for sure how long this protection lasts, and the risk
        of severe illness and death from COVID-19 far outweighs any benefits of
        natural immunity. COVID-19 vaccination will help protect you by creating
        an antibody (immune system) response without having to experience
        sickness.
      </p>
    </li>
  </ul>

  <ul class="list-group mt-3 mr-4">
    <li class="list-group-item list-group-item-secondary">
      <p>
        Wearing masks and social distancing help reduce your chance of being
        exposed to the virus or spreading it to others, but these measures are
        not enough. Vaccines will work with your immune system so it will be
        ready to fight the virus if you are exposed.
      </p>
    </li>
  </ul>

  <ul class="list-group mt-4 mr-4">
    <li class="list-group-item list-group-item-success">
      <p class="text-center">
        SINCERE REQUEST FROM THE GOVERNMENT OF INDIA AND OTHER AFFILIATED
        MEDICAL INSTITUTIONS OF THE COUNTRY,<strong>
          WE URGE YOU TO APPLY FOR VACCINATION AND GET VACCINATED.</strong
        >
      </p>
    </li>
  </ul>
</div>
