<div class="dashboard-container">
  <div class="form-row mr-5">
    <div class="col-md-6 mx-auto">
      <p class="username-tag text-center">
        <strong>{{ userName }}</strong>
      </p>
    </div>
  </div>
  <ul class="list-group mr-4">
    <li class="list-group-item list-group-item-secondary">
      <p>
        Guidelines from MHA and MoHFW pertaining to COVID-19 and related updates
        will be the primary reference points and no state should violate any
        COVID-19 guidance.
      </p>
    </li>
  </ul>

  <ul class="list-group mt-3 mr-4">
    <li class="list-group-item list-group-item-secondary">
      <p>
        Practices of social distancing, hand washing, and respiratory hygiene
        need to be maintained at all immunization sessions irrespective of
        zones/district categorization by all (i.e. beneficiaries and service
        providers) in all sessions.
      </p>
    </li>
  </ul>

  <ul class="list-group mt-3 mr-4">
    <li class="list-group-item list-group-item-secondary">
      <p>
        At any a given time during session, not more than 5 persons should be
        present at a session site with at least 1-meter distance between each. 
        The organization of such session will be at the discretion of district
        administration with clear planning for social distancing and handwashing
        at session site.
      </p>
    </li>
  </ul>

  <ul class="list-group mt-4 mr-4">
    <li class="list-group-item list-group-item-info">
      <p class="text-center">
        SINCERE REQUEST FROM THE GOVERNMENT OF INDIA AND OTHER AFFILIATED
        MEDICAL INSTITUTIONS OF THE COUNTRY, PLEASE FOLLOW PROPER PROTOCOL FOR VACCINATION.
      </p>
    </li>
  </ul>
</div>
