.dashboard-container {
  padding-left: 250px;
  padding-top: 25px;
  background-color: burlywood;
  height: 90.5vh;
  font-size: 16px;
  font-weight: bold;
}

.list-group {
  border-radius: 2rem;
}

.username-tag {
  font-size: 20px;
}
