body {
  background-color: floralwhite;
  }

  h1 {
    text-shadow: 2px 2px;
    color: black;
  }

  h2{

    font-style: italic;
    color: black;
    text-align: center;
  }

  h3 {
    font-style: oblique;
    color: black;
  }

  form {
    width: 50%;
    position: absolute;
    left: 30%;
}

.form {
  width: 100%;
  position: absolute;
  left: 10%;
}

label{
    padding-top: 20px;
    position: absolute;
    
}

label[for=male],[for=female],[for=other]{
  width: 80%;
  position: absolute;
  left: 16%;
}

label[for=rememberme],[for=subscribe]{
  width: 80%;
  position: absolute;
  left: 18%;
  padding-top: 4px;
}

label[for=photo]{
  padding-top: 4px;
  position: absolute;
}

input[type=submit] {
  position: relative;
    width: 40%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
    left: 18%;
    background-color: #9AE5F8;
}

input[type=text],[type=email],[type=password] {
    width: 40%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
    background-color: white;
    position: relative;
    left: 18%;
}

input[type=file] {
  position: relative;
  left: 19%;
  padding-top: 4px;
}

p{               
  width: 60%;
  position: absolute;
  left: 80%;      
 }

 input[type=radio]{
  position: relative;
  height: 15px;
  width: 70%;
  margin-top: 17px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 4px;
}

input[type=checkbox]{
  width: 75%;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 4px;
}

.accountLinks {
    width: 60%;
    position: absolute;
    left: 80%;
}

.links {
  text-align: center;
}

.products {
  margin-top: 10%;
  width: 40%;
  position: absolute;
  left: 40%;
}

.country{
  padding-top: 20px;
  position: relative;
  left: 19%;
}

.gender{
  position: relative;
  left: 4%;
}