<div class="feature-container">
  <div class="py-4">
    <h3 class="display-4 text-center">Features</h3>
  </div>
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card">
          <img
            src="../../../assets/features/feature-1.png"
            class="feature-img mx-auto mt-3"
            height="75px"
          />
          <div class="card-body text-center">
            <h4 class="card-title">
              <a href="https://www.w3.org/TR/html52/" target="blank">HTML5</a>
            </h4>
            <p class="card-text">HyperText Markup Language</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card">
          <img
            src="../../../assets/features/feature-2.png"
            class="img-fluid feature-img mx-auto mt-3"
          />
          <div class="card-body text-center">
            <h4 class="card-title">
              <a
                href="https://www.w3.org/Style/CSS/specs.en.html"
                target="blank"
                >CSS3</a
              >
            </h4>
            <p class="card-text">Cascading Style Sheets</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card">
          <img
            src="../../../assets/features/feature-3.png"
            class="img-fluid feature-img mx-auto mt-3"
          />
          <div class="card-body text-center">
            <h4 class="card-title">
              <a href="https://angular.io/docs" target="blank">Angular</a>
            </h4>
            <p class="card-text">JS Framework</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card">
          <img
            src="../../../assets/features/feature-4.png"
            class="feature-img mx-auto mt-3"
            height="75px"
          />
          <div class="card-body text-center">
            <h4 class="card-title">
              <a
                href="https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/"
                target="blank"
                >Spring Boot</a
              >
            </h4>
            <p class="card-text">Java Framework</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12 py-3 mx-auto">
        <div class="card">
          <img
            src="../../../assets/features/feature-5.png"
            class="feature-img mx-auto mt-3"
            height="75px"
          />
          <div class="card-body text-center">
            <h4 class="card-title">
              <a
                href="https://docs.spring.io/spring-security/site/docs/current/reference/html5/"
                target="blank"
                >Spring Security</a
              >
            </h4>
            <p class="card-text">Authentication & Authorization</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12 py-3 mx-auto">
        <div class="card">
          <img
            src="../../../assets/features/feature-6.png"
            class="img-fluid feature-img mx-auto mt-3"
          />
          <div class="card-body text-center">
            <h4 class="card-title">
              <a
                href="https://hibernate.org/orm/documentation/5.4/"
                target="blank"
                >Hibernate</a
              >
            </h4>
            <p class="card-text">ORM Tool for Persistence</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12 py-3 mx-auto">
        <div class="card">
          <img
            src="../../../assets/features/feature-7.png"
            class="feature-img mx-auto mt-3"
            height="75px"
          />
          <div class="card-body text-center">
            <h4 class="card-title">
              <a href="https://dev.mysql.com/doc/" target="blank">MySQL</a>
            </h4>
            <p class="card-text">Database Management System</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
