<div class="covid-info-container">
  <div class="py-4">
    <h3 class="display-4 text-center">Coronavirus Vaccine Management System</h3>
  </div>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card text-danger">
          <div class="card-body text-center">
            <h4 class="card-title"><b>Total</b></h4>
            <p class="card-text">
              <b>{{ covidData.confirmed }}</b>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card text-primary">
          <div class="card-body text-center">
            <h4 class="card-title"><b>Active</b></h4>
            <p class="card-text">
              <b>{{ covidData.active }}</b>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card text-success">
          <div class="card-body text-center">
            <h4 class="card-title"><b>Recovered</b></h4>
            <p class="card-text">
              <b>{{ covidData.recovered }}</b>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card text-secondary">
          <div class="card-body text-center">
            <h4 class="card-title"><b>Deceased</b></h4>
            <p class="card-text">
              <b>{{ covidData.deceased }}</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="symptoms-container">
  <div class="py-3">
    <h3 class="display-4 text-center">Symptoms</h3>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-12">
        <div class="card">
          <img
            class="card-img-top"
            src="../../../assets/landing/symptom-1.jpg"
            alt="Symptom : Coughing"
          />
          <div class="card-body text-center">
            <h4 class="card-title">
              <a
                href="https://www.who.int/health-topics/coronavirus#tab=tab_3"
                target="_blank"
                ><strong>Coughing</strong></a
              >
            </h4>
            <p class="card-text">
              <strong>Long Episodes of Continuous Cough</strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-12">
        <div class="card">
          <img
            class="card-img-top"
            src="../../../assets/landing/symptom-2.jpg"
            alt="Symptom : Shortness of Breath"
          />
          <div class="card-body text-center">
            <h4 class="card-title">
              <a
                href="https://www.who.int/health-topics/coronavirus#tab=tab_3"
                target="_blank"
                ><strong>Shortness of Breath</strong></a
              >
            </h4>
            <p class="card-text">
              <strong>Palpitations & Difficulty Breathing</strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-12">
        <div class="card">
          <img
            class="card-img-top"
            src="../../../assets/landing/symptom-3.jpg"
            alt="Symptom : Fever"
          />
          <div class="card-body text-center">
            <h4 class="card-title">
              <a
                href="https://www.who.int/health-topics/coronavirus#tab=tab_3"
                target="_blank"
                ><strong>Fever</strong></a
              >
            </h4>
            <p class="card-text"><strong>High Fever & Weakness</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
