<div class="apply-container">
  <div class="col-lg-8 col-md-8 col-12 mx-auto">
    <div class="card mt-4 p-5">
      <div class="card-body text-center">
        <div class="form-container">
          <form
            method="POST"
            novalidate
            #beneficiaryDetails="ngForm"
            (ngSubmit)="applyForVaccination(beneficiaryDetails)"
          >
          <div class="form-group row">
            <label for="age"><b>Age</b></label>
            <input
              type="number"
              class="form-control"
              name="age"
              placeholder="Enter Age"
              ngModel
              required
            />
          </div>
          <div class="form-group row mt-5">
            <label for="adhaarNumber"><b>Adhaar Card Number</b></label>
            <input
              type="text"
              class="form-control"
              name="adhaarNumber"
              placeholder="Enter Adhaar Card Number"
              ngModel
              required
            />
          </div>
            <button type="submit" class="btn btn-primary mt-5 btn-block">Apply For Vaccination</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
