.applications-container {
  padding-left: 250px;
  padding-top: 25px;
  background-color: burlywood;
  height: 90.5vh;
}

.table {
  width: 95%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  opacity: 85%;
}

.btn {
  color: whitesmoke;
}
