<div class="applications-container">
  <table class="table table-striped table-dark table-hover table-borderless mt-4">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Approve</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of districtList">
        <td>{{ items.email }}</td>
        <td>{{ items.officeName }}</td>
        <td>
          <input
            type="button"
            class="btn btn-warning btn-sm"
            value="Approve"
            (click)="approveDistrict(items.id)"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
