.w100 {
  width: 100%;
}

.w75 {
  width: 75%;
}

.w50 {
  width: 50%;
}

.w25 {
  width: 25%;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.d-flex {
  display: flex;
}

.d-inl-blk {
  display: inline-block;
}

.d-blk {
  display: block;
}

.d-none {
  display: none;
}

.m-auto {
  margin: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.h100 {
  height: 100%;
}

.h75 {
  height: 75%;
}

.h50 {
  height: 50%;
}

.h25 {
  height: 25%;
}
