* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.card {
  background-color: whitesmoke;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.form-control {
  background-color: whitesmoke;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.btn {
  background-color: whitesmoke;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(100, 100, 100, 0.3)
  );
  border-radius: 1rem;
  color: black;
}

thead,
tr {
  background-color: rgba(4, 66, 199, 0.3);
}
