<div class="signup-container">
  <div class="py-1">
    <h3 class="display-4 text-center">Sign Up</h3>
  </div>
  <div class="col-lg-6 col-md-6 col-12 mx-auto">
    <div class="card pr-3 pl-3">
      <div class="card-body text-center">
        <div class="form-container">
          <form
            method="POST"
            novalidate
            #newUser="ngForm"
            (ngSubmit)="register(newUser)"
          >
            <label class="text-danger" *ngIf="submitFailed"
              ><strong>{{ errorText }}</strong></label
            >
            <div class="form-row">
              <div class="col-md-6 mx-auto">
                <input
                  class="form-control"
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Enter Email"
                  ngModel
                  required
                  #email="ngModel"
                  email
                />
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="col-md-6 mx-auto">
                <input
                  class="form-control"
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Enter Password"
                  ngModel
                  required
                  #pass="ngModel"
                />
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="col-md-6 mx-auto">
                <input
                  class="form-control"
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  placeholder="Re-Enter Password"
                  ngModel
                  required
                  #cpass="ngModel"
                />
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="col mt-1">
                <mat-radio-group name="role" ngModel>
                  <mat-radio-button value="4">Beneficiary</mat-radio-button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <mat-radio-button value="3"
                    >Vaccination Centre</mat-radio-button
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <mat-radio-button value="2">District Office</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="col-md-6 mx-auto">
                <input
                  class="form-control"
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Enter Name"
                  ngModel
                  required
                  #name="ngModel"
                />
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="col-md-6 mx-auto">
                <select
                  name="state"
                  (change)="bindDistrict($event.target.value)"
                  class="form-control"
                  ngModel
                  required
                  #state="ngModel"
                >
                  <option value="" selected disabled>
                    Select State
                  </option>
                  <option *ngFor="let state of listState" [value]="state.id">
                    {{ state.stateName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="col-md-6 mx-auto">
                <select
                  name="district"
                  class="form-control"
                  ngModel
                  required
                  #district="ngModel"
                >
                  <option value="" selected disabled>
                    Select District
                  </option>
                  <option
                    *ngFor="let district of listDistrict"
                    [value]="district.id"
                  >
                    {{ district.districtName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mx-auto">
                <button type="submit" class="btn btn-primary mt-4 btn-block">
                  <b>Sign Up</b>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
