<div class="about-container">
  <div class="py-4">
    <h3 class="display-4 text-center">About Co-VMS</h3>
  </div>
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-lg-6 col-md-6 col-12 mx-auto">
        <div class="card">
          <div class="card-body text-center">
            <h3 class="card-title">
              <b>Covid-19 Vaccine Management System</b>
            </h3>
            <h5 class="card-text">
              A user centered web application which simulates vaccine
              administration for the general populous, thus providing a digital
              interface for the people to consent for vaccination and track
              their appointments. The various Government Installations to
              administer the vaccines, manage inventory and generate reports.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
