<div class="footer-container">
  <footer class="text-dark text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5>Co-VMS</h5>
          <p>
            A user centered web application which simulates vaccine
            administration for the general populous, thus providing a digital
            interface for the people to consent for vaccination and track their
            appointments. The various Government Installations to administer the
            vaccines, manage inventory and generate reports.
          </p>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="nav-link" [routerLink]="['/about']">About</a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['/contact']">Contact</a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['/features']">Features</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="text-center p-3"
      style="background-color: rgba(222, 184, 135, 0.6)"
    >
      © 2021 -- www.covid19vms.io -- Powered by CDAC ACTS -- Group 3
    </div>
  </footer>
</div>
