<div class="feedback-container">
  <table class="table table-striped table-dark mt-4">
    <thead>
      <tr>
        <th scope="col">Aadhar Number</th>
        <th scope="col">Name</th>
        <th scope="col">Days Since Vaccination</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of feedbackReports">
        <td>{{ items.aadharNumber }}</td>
        <td>{{ items.name }}</td>
        <td>{{ items.daysSinceVaccination }}</td>
        <td>{{ items.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
