<div class="centre-list-container">
  <table class="table table-striped table-dark mt-4">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Daily Vaccination Capacity</th>
        <th scope="col">Inventory</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of approvedCentreList">
        <td>{{ items.centreName }}</td>
        <td>{{ items.capacity }}</td>
        <td><input type="number" class="form-control" [(ngModel)]="items.inventory" /></td>
        <td>
          <input
            type="button"
            class="btn btn-warning btn-sm"
            value="Update"
            (click)="updateCentreInventory(items.id, items.inventory)"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
