<div class="feedback-container">
  <div class="col-lg-8 col-md-8 col-12 mx-auto">
    <div class="card mt-4 p-5">
      <div class="card-body text-center">
        <div class="form-container">
          <form
            method="POST"
            novalidate
            #feedback="ngForm"
            (ngSubmit)="beneficiaryFeedback(feedback)"
          >
            <div class="form-group row">
              <label for="adverseEffect"><b>Adverse Effects</b></label>
              <input
                type="text"
                class="form-control"
                name="adverseEffect"
                placeholder="Enter Adverse Effects"
                ngModel
                required
              />
            </div>
            <div class="form-group row mt-5">
              <label for="details"><b>Details</b></label>
              <input
                type="text"
                class="form-control"
                name="details"
                placeholder="Enter Details"
                ngModel
                required
              />
            </div>
            <button type="submit" class="btn btn-primary mt-5 btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
