<div class="dashboard-container">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <p class="username-tag text-center">
        <strong>{{ userName }}</strong>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mx-auto">
    <p class="username-tag text-center text-success"><b>Total Vaccinated in INDIA : {{totalVaccinatedCount}}</b></p>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mx-auto">
      <select
        name="state"
        class="form-control"
        (change)="getStateData($event.target.value)"
      >
        <option value="" selected disabled>Select State</option>
        <option *ngFor="let state of stateList" [value]="state">
          {{ state }}
        </option>
      </select>
    </div>
  </div>

  <div class="container-fluid mt-2 py-4">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card text-danger">
          <div class="card-body text-center">
            <h4 class="card-title"><b>Total</b></h4>
            <p class="card-text">
              <b>{{ covidStateData.confirmed }}</b>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card text-primary">
          <div class="card-body text-center">
            <h4 class="card-title"><b>Active</b></h4>
            <p class="card-text">
              <b>{{ covidStateData.active }}</b>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card text-success">
          <div class="card-body text-center">
            <h4 class="card-title"><b>Recovered</b></h4>
            <p class="card-text">
              <b>{{ covidStateData.recovered }}</b>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card text-secondary">
          <div class="card-body text-center">
            <h4 class="card-title"><b>Deceased</b></h4>
            <p class="card-text">
              <b>{{ covidStateData.deceased }}</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
