<div class="contact-container">
  <div class="py-4">
    <h3 class="display-4 text-center">Contact</h3>
  </div>
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card">
          <img
            class="card-img-top"
            src="../../../assets/contact/contact-avatar-1.png"
            alt="Ministry of Health & Family Affairs Contact"
          />
          <div class="card-body text-center">
            <h4 class="card-title">
              <a href="https://www.mohfw.gov.in/" target="blank">MoHFW</a>
            </h4>
            <p class="card-text">Ministry of Health & Family Affairs</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card">
          <img
            class="card-img-top"
            src="../../../assets/contact/contact-avatar-2.jpg"
            alt="Indian Medical Association Contact"
            height="145px"
          />
          <div class="card-body text-center">
            <h4 class="card-title">
              <a href="https://www.ima-india.org/ima/" target="blank">IMA</a>
            </h4>
            <p class="card-text">Indian Medical Association</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card">
          <img
            class="card-img-top"
            src="../../../assets/contact/contact-avatar-3.jpg"
            alt="Ministry of AYUSH Contact"
            height="145px"
          />
          <div class="card-body text-center">
            <h4 class="card-title">
              <a href="https://www.ayush.gov.in/" target="blank">AYUSH</a>
            </h4>
            <p class="card-text">Ministry of AYUSH</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card">
          <img
            class="card-img-top"
            src="../../../assets/contact/contact-avatar-4.jfif"
            alt="Serum Institute of India Contact"
            height="145px"
          />
          <div class="card-body text-center">
            <h4 class="card-title">
              <a href="https://www.seruminstitute.com/" target="blank">SII</a>
            </h4>
            <p class="card-text">Serum Institute of India</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
